<!-- BEGIN: Content-->
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- contenedor -->
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title">Lotes</h4>
                    <p class="card-text">Puedes crear, editar y eliminar lotes.</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control round" id="iconLeft1" placeholder="Buscar">
                                <div class="form-control-position">
                                    <i class="bx bx-search"></i>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-8 text-right mt-2">
                            <div class="btn-group btn-group-lg mb-1 btn-group-subasta" role="group" aria-label="Size Large">
                                <button type="button" class="btn active btn-group-subasta-1" style="border-radius: 15px;">
                                    <i class="bx bxs-package"></i>
                                    Lotes                                       
                                </button>
                                <a [routerLink]="['crear']" type="button" class="btn btn-group-subasta-2">
                                    <i class="bx bx-plus"></i>
                                    Crear Lote
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Form -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-content m-2">
                            <div class="row">
                                <!-- Div que se muestra si no hay lotes, o si aun no se ha cargado -->
                                <div class="col-md-3" *ngIf="lotes.length==0">
                                    <i class="fas fa-spinner fa-spin"></i> Cargando los datos
                                </div>
                                <div class="col-md-3" *ngFor="let lote of lotes">
                                    <div class="card text-white card-lote bg-lighten-1 text-center">
                                        <!-- Opciones -->
                                        <div class="div-opciones">
                                            <div>
                                                <a href="#"> 
                                                    <h4 class="text-white">Editar <i class="bx bx-chevron-right"></i></h4>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="./sin_inscripcion.html"> 
                                                    <h4 class="text-white">Inscribir usuario <i class="bx bx-chevron-right"></i></h4>
                                                </a>
                                            </div>
                                            <div>
                                                <a (click)="deleteLotes(lote.idLote, lote.nombre)"> 
                                                    <h4 class="text-white">Eliminar <i class="bx bx-chevron-right"></i></h4>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Contenido -->
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h6>
                                                            {{lote.nombre}} - {{lote.fechaInicio | date:'shortDate'}}
                                                        </h6>
                                                        <div class="div-img" [ngStyle]="{'background-image': 'url(http://3.20.221.116:8080/files/'+lote.imagenes[0]['src']+')', 'background-size': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat'}"></div>
                                                        <h3 class="card-title">{{lote.precio | currency}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- /Form -->
            </div>
        </section>
        <!-- contenedor end -->
    </div>
</div>
<!-- END: Content-->

<!-- Modal para inscribir a un usuario en el lote -->
<div class="modal fade text-left" id="dark" tabindex="-1" role="dialog" aria-labelledby="myModalLabel150" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="max-width: 640px !important;">
        <div class="modal-content">
            <div class="modal-header bg-dark white">
                <span class="modal-title" id="myModalLabel150">Escribe los datos del usuario para <br> agregarlo a la plataforma</span>
                <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="mt-2">
                            <label for="nombre"><strong>Fecha de subasta: </strong></label>
                        </fieldset>
                    </div>
                    <div class="col-md-8">
                        <fieldset class="mt-2">
                            <p id="inlineDatePicker-container"></p>
                            <input class="inlineDatePicker" type="hidden">
                        </fieldset>
                    </div>
                    <div class="col-md-3">
                        <fieldset class="mt-2">
                            <label for="nombre"><strong>Hora inicio: </strong></label>
                        </fieldset>
                    </div>
                    <div class="col-md-3">
                        <fieldset class="form-group mt-1">
                            <input type="text" class="form-control round pickatime" placeholder="Seleccionar hora de inicio" style="border: 1px solid #212121 !important">
                        </fieldset>
                    </div>
                    <div class="col-md-3">
                        <fieldset class="mt-2">
                            <label for="nombre"><strong>Hora fin: </strong></label>
                        </fieldset>
                    </div>
                    <div class="col-md-3">
                        <fieldset class="form-group mt-1">
                            <input type="text" class="form-control round pickatime" placeholder="Seleccionar hora de inicio" style="border: 1px solid #212121 !important">
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark round ml-1" data-dismiss="modal" data-toggle="modal" data-target="#info">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Programar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal cuando ya esta inscrito (de confirmacion) -->
<div class="modal fade text-left" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel130" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-secondary">
                <!-- <img src="./app-assets/images/icon/check.png" alt="Check" class="mt-2"> -->
                <img src="../../../../assets/images/icon/check.png" alt="Check" class="mt-2">
                <h5 class=" text-white mt-2"><strong> ¡Listo! <br> Has prorgramado una subasta con éxito</strong></h5>
            </div>
            <div class="modal-footer bg-secondary">
                <button type="button" class="btn btn-white round ml-1" data-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block text-dark">OK</span>
                </button>
            </div>
        </div>
    </div>
</div>