<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- contenedor -->
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title">Subastas </h4>
                    <p class="card-text">Puedes crear, editar y eliminar subastas</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control round" id="iconLeft1" placeholder="Buscar">
                                <div class="form-control-position">
                                    <i class="bx bx-search"></i>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-8 text-right mt-2">
                            <div class="btn-group btn-group-lg mb-1 btn-group-subasta" role="group" aria-label="Size Large">
                                
                                <button type="button" class="btn active btn-group-subasta-1" style="border-radius: 15px;">
                                    <i class="bx bxs-package"></i>
                                    Subastas                                       
                                </button>
                                <!-- Arreglar esta ruta hija -->
                                <a [routerLink]="['crear']" type="button" class="btn btn-group-subasta-2">
                                    <i class="bx bx-plus"></i>
                                    Crear Subastas
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <!-- Table with no outer spacing -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Fecha de inicio/fin</th>
                                            <th>Hora inicio/fin</th>
                                            <th>Inicio/fin suscripción</th>
                                            <th width="5%"></th>
                                            <th width="5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="pointer-cursor" *ngIf="subastas.length==0">
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                <i class="fas fa-spinner fa-spin"></i> Cargando los datos
                                            </td>
                                        </tr>
                                        <tr class="pointer-cursor" *ngFor="let subasta of subastas">
                                            <td class="text-bold-600 pr-0 sorting_1">{{ subasta.idSubasta }}</td>
                                            <td class="text-bold-600 pr-0 sorting_1">{{ subasta.nombre }}</td>
                                            <td class="text-bold-600 pr-0 sorting_1">{{ subasta.fechaInicio | date : 'dd/MM/yyyy' }}<br>{{ subasta.fechaFin | date : 'dd/MM/yyyy' }}</td>
                                            <td class="text-bold-600 pr-0 sorting_1">{{ subasta.horaInicio | date : 'hh:mm a' }}<br>{{ subasta.horaFin | date : 'hh:mm a' }}</td>
                                            <td class="text-bold-600 pr-0 sorting_1">{{ subasta.fechaInicioSuscripcion | date : 'dd/MM/yyyy' }}<br>{{ subasta.fechaFinSuscripcion | date : 'dd/MM/yyyy' }}</td>
                                            <td [routerLink]="['editar/',subasta.idSubasta]"><i class='bx bx-edit-alt'></i></td>
                                            <td><i class='bx bx-trash' (click)="deleteSubasta(subasta.idSubasta, subasta.nombre)"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contenedor end -->
    </div>
</div>