@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

@font-face {
    font-family: "Museo-sans";
    src: url("../../fonts/museo_sans_ssv/MuseoSans300/MuseoSans-300.otf");
}

body{
    font-family: 'Museo-sans' !important;
}

.variants {
    width: 260px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #313945;
  }
  
  .variants > div {
    margin-right: 5px;
  }
  
  .variants > div:last-of-type {
    margin-right: 0;
  }
  
  .file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .file > input[type='file'] {
    display: none
  }
  
  .file > label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border: none;
    border-radius: 4px;
    border-width: 1px;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .file > label:hover {
    border-color: hsl(0, 0%, 21%);
  }
  
  .file > label > span {
    width: 100%;
  }
  
  .file--upload > label {
    color: hsl(204, 86%, 53%);
    border-color: hsl(204, 86%, 53%);
  }
  
  .file--upload > label:hover {
    border-color: hsl(204, 86%, 53%);
    background-color: hsl(204, 86%, 96%);
  }
  
  .file--upload > label:active {
    background-color: hsl(204, 86%, 91%);
  }
  
  .file--uploading > label {
    color: hsl(48, 100%, 67%);
    border-color: hsl(48, 100%, 67%);
  }
  
  .file--uploading > label > i {
    animation: pulse 5s infinite;
  }
  
  .file--uploading > label:hover {
    border-color: hsl(48, 100%, 67%);
    background-color: hsl(48, 100%, 96%);
  }
  
  .file--uploading > label:active {
    background-color: hsl(48, 100%, 91%);
  }
  
  .file--success > label {
    color: hsl(141, 71%, 48%);
    border-color: hsl(141, 71%, 48%);
  }
  
  .file--success > label:hover {
    border-color: hsl(141, 71%, 48%);
    background-color: hsl(141, 71%, 96%);
  }
  
  .file--success > label:active {
    background-color: hsl(141, 71%, 91%);
  }
  
  .file--danger > label {
    color: hsl(348, 100%, 61%);
    border-color: hsl(348, 100%, 61%);
  }
  
  .file--danger > label:hover {
    border-color: hsl(348, 100%, 61%);
    background-color: hsl(348, 100%, 96%);
  }
  
  .file--danger > label:active {
    background-color: hsl(348, 100%, 91%);
  }
  
  .file--disabled {
    cursor: not-allowed;
  }
  
  .file--disabled > label {
    border-color: #e6e7ef;
    color: #e6e7ef;
    pointer-events: none;
  }
  
  @keyframes pulse {
    0% {
      color: hsl(48, 100%, 67%);
    }
    50% {
      color: hsl(48, 100%, 38%);
    }
    100% {
      color: hsl(48, 100%, 67%);
    }
  }

@media screen and (max-width: 1200px) {
    .variants {
      margin: auto;
    }
}
