/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.card-lote{
	border: 1px solid #DDDDDD;
	color: #313945;
}

.card-lote:hover{
	cursor: pointer;
	background: rgba(49, 57, 69, 0.15);
}

.div-opciones{
	position: absolute;
	display: none;
	width: 100%;
    height: 100%;
    vertical-align: middle;
	padding-top: 80px;
    background: rgba(49, 57, 69, 0.85);
	border-radius: 5px;
	z-index: 999;
}

.div-opciones div{
	text-decoration: underline;
	line-height: 100px;
	width: 80%;
	margin: auto;
	text-align: left;
	margin-bottom: 20px;
}

.div-opciones a{
	text-decoration: none;
	color: white;
}

.div-opciones a i{
	color: white;
	font-size: 20px;
}

.card-pay{
    border: 1px solid #313945;
    border-radius: 15px;
    padding: 1em;
}

.card-pay a{
    text-decoration: none;
}

.card-pay img{
    width: 110px;
}

.card-pay .img-tranferencia{
	width: 50px !important;
}

.card-pay img.arrow{
    float: right;
    width: 20px;
    cursor: pointer;
}

.card-pay:hover{
    opacity: 0.4;
    cursor: pointer;
}

.card-recibo{
    border: 1px dashed #313945;
    border-radius: 15px;
    color: #313945;
}

.card-recibo p{
    color: #313945;
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.card-npe{
    border: 1px solid #313945;
	border-radius: 10px;
}

.input-aduana{
	border-radius: 15px;
	border: 1px solid #313945;
	width: 100%;
	height: 50px;
	background: transparent;
	padding-left: 10px;
}

.card-lote:hover .div-opciones{
	display: block;
	z-index: 999;
}

.div-img{
    height: 200px;
    width: 150px;
    margin: auto;
}

.btn-index div, .btn-index div{
	display: inline-block;
}

.btn-group-subasta{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	border-radius: 15px;
}

.btn-group-subasta-1{
	border: none !important;
}

.btn-group-subasta-1:hover{
	background: #FFFFFF !important;
	color: black !important;
	border-radius: 15px;
}

.btn-group-subasta-2{
	border: none !important;
	border-radius: 15px !important;
}

.btn-group-subasta-2:hover{
	background: #FFFFFF !important;
	color: black !important;
	border-radius: 15px;
}

.pointer-cursor{
	cursor: pointer;
}

.hr-line{
	border: 1px solid #313945 !important;
}

.hr-line-sm{
	width: 200px;
	float: left;
}

.card-api{
	width: 60%;
	margin: auto;
}

.card-manual{
	width: 80%;
	margin: auto;
}

.btn-api{
	float: center;
}