<body class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns navbar-sticky footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    <!-- BEGIN: Header-->
    <div class="header-navbar-shadow"></div>
    <nav class="header-navbar main-header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top ">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="navbar-collapse" id="navbar-mobile">
                    <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav">
                            <li class="nav-item mobile-menu d-xl-none mr-auto">
                                <a class="nav-link nav-menu-main menu-toggle hidden-xs">
                                    <i class="ficon bx bx-menu"></i>
                                </a>

                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav float-right">
                        <li class="nav-item dropdown dropdown-user">
                            <a class="nav-link dropdown-toggle dropdown-user-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="user-nav d-sm-flex d-none">
                                    <span class="user-name">Nombre Administrador</span>
                                    <span class="user-status text-muted">Rol</span>
                                </div>
                                <span>
                                    <img class="round" src="../../../assets/app-assets/images/portrait/small/avatar-s-11.jpg" alt="avatar" height="40" width="40">
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right pb-0">
                                <a class="dropdown-item" href="#">
                                    <i class="bx bx-user mr-50"></i>Perfil
                                </a>
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#" (click)="logout()">
                                    <i class="bx bx-power-off mr-50"></i> Salir
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="./index.html">
                        <div class="brand-logo"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="">
                <li class=" nav-item" routerLinkActive="active">
                    <a [routerLink]="['/dashboard/users']">
                        <i class="bx bx-check-circle"></i>
                        <span class="menu-title" data-i18n="Email">Verificar</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/dashboard/transcribir']">
                        <i class="bx bx-file"></i>
                        <span class="menu-title" data-i18n="Chat">Transcribir</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/dashboard/mantenimiento']">
                        <i class="bx bx-user-circle"></i>
                        <span class="menu-title" data-i18n="Todo">Mantenimiento</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/dashboard/subasta']">
                        <i class='bx bx-time-five'></i>
                        <span class="menu-title" data-i18n="Todo">Programar Subasta</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/dashboard/lotes']">
                        <i class="bx bx-plus"></i>
                        <span class="menu-title" data-i18n="Calendar">Lotes</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/dashboard/mantenimiento']">
                        <i class='bx bx-file'></i>
                        <span class="menu-title" data-i18n="Todo">Reportes</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <router-outlet></router-outlet>
    </div>
    <!-- END: Content-->

    <!-- Modales -->
    <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header text-right align-items-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="rounded-circle mr-1" src="../../../assets/app-assets/images/portrait/small/avatar-s-1.jpg" alt="card" width="42" height="42">
                        </div>
                        <div class="col-md-10">
                            <h5><strong>Jose Hernandez</strong></h5>
                            <h6><strong>Dirección:</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                            <h6><strong>Municipio:</strong>Lorem ipsum dolor sit amet</h6>
                            <h6><strong>Departamento:</strong>Lorem ipsum dolor sit amet</h6>
                        </div>
                    </div>
                    <hr class="hr-line">
                    <div class="row">
                        <div class="col-md-6">
                            <h6><strong>DUI:</strong>05383019-5</h6>
                            <h6><strong>Teléfono:</strong>12312341234</h6>
                        </div>
                        <div class="col-md-6">
                            <h6><strong>NIT:</strong>57687878565798-8</h6>
                            <h6><strong>Teléfono:</strong>12341234</h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center align-items-center">
                    <button type="button" class="btn btn-secondary round ml-1" data-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Validar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h4><strong>¿Esta seguro que quieres eliminar la inscripción?</strong></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Eliminar</span>
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0">
            <span class="float-left d-inline-block">2021 &copy; Aduana</span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="bx bx-up-arrow-alt"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->
</body>