<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- contenedor -->
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title" *ngIf="this.idUrl===null">Crear Subasta</h4>
                    <h4 class="card-title" *ngIf="this.idUrl!==null">Editar Subasta</h4>
                    <p class="card-text">Puedes crear, editar y eliminar lotes</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            
                        </div>
                        <div class="col-md-8 text-right mt-2">
                            <div class="btn-group btn-group-lg mb-1 btn-group-subasta" role="group" aria-label="Size Large">
                                <a [routerLink]="['/dashboard/subasta']" type="button" class="btn btn-group-subasta-1" style="border-radius: 15px;">
                                    <i class="bx bxs-package"></i>
                                    Subastas                                       
                                </a>
                                <button type="button" class="btn active btn-group-subasta-2" *ngIf="this.idUrl===null">
                                    <i class="bx bx-plus"></i>
                                    Crear Subasta
                                </button>
                                <button type="button" class="btn active btn-group-subasta-2" *ngIf="this.idUrl!==null">
                                    <i class="bx bx-plus"></i>
                                    Editar Subasta
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- //----------------------------------------------------------------------------------------------------// -->
            <!-- //----------------------------------------------------------------------------------------------------// -->
            <!-- //----------------------------------------------------------------------------------------------------// -->
            <!-- //-------------------------------Los 2 forms no se renderizan a la vez--------------------------------// -->
            <!-- //----------------------------------------------------------------------------------------------------// -->
            <!-- //----------------------------------------------------------------------------------------------------// -->
            <!-- //----------------------------------------------------------------------------------------------------// -->
                <!-- Tabla que solo se muestra si no viene id por medio de la url -->
                <!-- Tabla de añadir subasta -->
                <form autocomplete="off" [formGroup]="forma" (ngSubmit)="agregar()" *ngIf="this.idUrl===null">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-content m-2">
                                <!-- Nombre -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Nombre: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8 form-group">            
                                            <input type="text" class="form-control" formControlName="nombre">
                                        </div>
                                    </div>
                                </div>
                                <!-- Descripcion -->
                                <br>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Descripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8 form-group">            
                                            <textarea formControlName="descripcion" type="text" class="form-control" name="descripcion"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fecha de Inicio -->
                                <br>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Fecha de Inicio: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="fecha_inicio" id="fecha_inicio" class="inlineDatePicker1 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fecha de Fin -->
                                <br>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Fecha de Fin: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="fecha_fin" id="fecha_fin" class="inlineDatePicker2 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora de Inicio -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora de Inicio: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="hora_inicio" id="hora_inicio" class="pickatime1 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora de Fin -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora de Fin: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="hora_fin" id="hora_fin" class="pickatime2 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora inicio por defecto -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora inicio por defecto para lote </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="hora_inicio_defecto" id="hora_inicio_defecto" class="pickatime3 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Fecha incio suscripcion -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Fecha de Inicio Suscripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="fechaSubInicio" id="fechaSubInicio" class="inlineDatePicker3 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Fecha fin suscripcion -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Fecha de Fin Suscripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="fechaSubFin" id="fechaSubFin" class="inlineDatePicker4 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora inicio suscripcion -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora de Inicio Suscripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="horaInicioSub" id="horaInicioSub" class="pickatime4 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora fin suscripcion -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora de Fin Suscripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="horaFinSub" id="horaFinSub" class="pickatime5 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>



                                <!-- Boton Submit -->
                                <div class="row">
                                    <div class="col-sm-12 mt-2 d-flex justify-content-center">
                                        <button type="submit"
                                                class="btn btn-secondary round mr-1 mb-1"
                                                [disabled]="forma.invalid">
                                                Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- / Tabla de añadir subasta -->

                <!-- Tabla que se muestra solo si viene una url, lo que indica que es form para editar -->
                <form autocomplete="off" [formGroup]="forma" (ngSubmit)="editSubasta()" *ngIf="this.idUrl!==null">

                    <div class="col-12" *ngFor="let item of subastas">
                        <div class="card">
                            <div class="card-content m-2">
                                <!-- Nombre -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Nombre: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8 form-group">            
                                            <input type="text" class="form-control" formControlName="nombre">
                                        </div>
                                    </div>
                                </div>
                                <!-- Descripcion -->
                                <br>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Descripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8 form-group">            
                                            <textarea formControlName="descripcion" type="text" class="form-control" name="descripcion"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fecha de Inicio -->
                                <br>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Fecha de Inicio: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="fecha_inicio" id="fecha_inicio" class="inlineDatePicker1 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fecha de Fin -->
                                <br>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Fecha de Fin: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="fecha_fin" id="fecha_fin" class="inlineDatePicker2 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora de Inicio -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora de Inicio: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="hora_inicio" id="hora_inicio" class="pickatime1 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora de Fin -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora de Fin: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="hora_fin" id="hora_fin" class="pickatime2 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora inicio por defecto -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora inicio por defecto para lote </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="hora_inicio_defecto" id="hora_inicio_defecto" class="pickatime3 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Fecha incio suscripcion -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Fecha de Inicio Suscripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="fechaSubInicio" id="fechaSubInicio" class="inlineDatePicker3 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Fecha fin suscripcion -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Fecha de Fin Suscripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="fechaSubFin" id="fechaSubFin" class="inlineDatePicker4 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora inicio suscripcion -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora de Inicio Suscripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="horaInicioSub" id="horaInicioSub" class="pickatime4 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Hora fin suscripcion -->
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <fieldset>
                                            <label for="nombre"><strong>Hora de Fin Suscripcion: </strong></label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-md-8">
                                            <fieldset class="mt-8">
                                                <input formControlName="horaFinSub" id="horaFinSub" class="pickatime5 form-control" type="datetime-local">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>



                                <!-- Boton Submit -->
                                <div class="row">
                                    <div class="col-sm-12 mt-2 d-flex justify-content-center">
                                        <button type="submit"
                                                class="btn btn-secondary round mr-1 mb-1"
                                                [disabled]="forma.invalid">
                                                Editar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- contenedor end -->
    </div>
</div>