<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- contenedor -->
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title">Solicitudes PDF</h4>
                    <p class="card-text">Puedes ver las solicitudes de los usuarios en el documento PDF y validarlos.</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 mt-2">
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control round" id="iconLeft1" placeholder="Buscar">
                                <div class="form-control-position">
                                    <i class="bx bx-search"></i>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <!-- Table with no outer spacing -->
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Correo usuario</th>
                                            <th width="5%"></th>
                                            <th width="15%"></th>
                                            <th width="5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                1
                                            </td>
                                            <td class="text-bold-500">Jose@gmail.com</td>
                                            <td class="text-right"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Descargar PDF" class="bx bx-download font-medium-1 cursor-pointer"></i></td>
                                            <td class="text-center"><button type="button" data-toggle="modal" data-target="#dark" class="btn btn-primary round mr-1 mb-1">Transcribir</button></td>
                                            <td class="text-left"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Eliminar" class="bx bx-trash font-medium-1 cursor-pointer"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                2
                                            </td>
                                            <td class="text-bold-500">Jose@gmail.com</td>
                                            <td class="text-right"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Descargar PDF" class="bx bx-download font-medium-1 cursor-pointer"></i></td>
                                            <td class="text-center"><button type="button" data-toggle="modal" data-target="#dark" class="btn btn-primary round mr-1 mb-1">Transcribir</button></td>
                                            <td class="text-left"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Eliminar" class="bx bx-trash font-medium-1 cursor-pointer"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                3
                                            </td>
                                            <td class="text-bold-500">Jose@gmail.com</td>
                                            <td class="text-right"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Descargar PDF" class="bx bx-download font-medium-1 cursor-pointer"></i></td>
                                            <td class="text-center"><button type="button" data-toggle="modal" data-target="#dark" class="btn btn-primary round mr-1 mb-1">Transcribir</button></td>
                                            <td class="text-left"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Eliminar" class="bx bx-trash font-medium-1 cursor-pointer"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contenedor end -->
    </div>
</div>