@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

@font-face {
  font-family: "Museo-sans";
  src: url("../../../assets/fonts/museo_sans_ssv/MuseoSans300/MuseoSans-300.otf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  user-select: none;
}

body{
  font-family: 'Museo-sans';
}

.logo-img{
  width: 100px;
}
.bg-img{
  background: url('../../../assets/images/fondo-login.jpg');
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #313945 39.65%, rgba(49, 57, 69, 0.352201) 170.12%, rgba(49, 57, 69, 0) 189.65%);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  width: 370px;
  transform: translate(-50%,-50%);
  margin-left: 0% !important; /* modificado */
}
.content h1{
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 105.5%;
  margin: 10px 0 10px 0;
}
.content p{
  font-family: 'Museo-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
}

.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
}
label{
  font-family: 'Museo-sans';
  float: left;
  color: white;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.field-btn{
  border: none;
  margin-top: 5%;
}
.field input, button{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding-left: 10px;
  font-size: 16px;
  font-family: 'Museo-sans';
}
.space{
  margin-top: 16px;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: center;
  margin: 10px 0;
}
.pass a{
  text-decoration: none;
  font-family: 'Museo-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
}
.pass:hover a{
  text-decoration: underline;
}
.field button[type="submit"]{
  background: #1C1E4D;
  border: 1px solid #1C1E4D;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Poppins';
  border-radius: 25px;
}
.field button[type="submit"]:hover{
  background: #2a2c62;
}
.field input[type="submit"]{
  background: #1C1E4D;
  border: 1px solid #1C1E4D;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Poppins';
  border-radius: 25px;
}
.field input[type="submit"]:hover{
  background: #2a2c62;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Museo-sans';
}

.show{
  margin: 11px 11px;
}
.signup{
  font-size: 15px;
  color: white;
  font-family: 'Museo-sans';
}
.signup a{
  font-family: 'Museo-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}