<div class="bg-img">
    <div class="content justify-content-center">
      <img src="../../../assets/images/logo.png" class="logo-img" alt="">
      <h1>¡Bienvenido!</h1>
      <p>Tendrás acceso a la plataforma para gestionar y registrar subastas, asi como los usuarios que deseen participar en pujas.</p>
      
      <form autocomplete="off" [formGroup]="forma" (ngSubmit)="login()">
        <label for="correo">Correo:</label>
        <div class="field">
          
          <input  id="correo" class="correo"
                  type="text"
                  placeholder="Escribe el correo aqui"
                  formControlName="correo">
        </div>
        <label for="pass-key">Contraseña:</label>
        <div class="field space">
          <input  class="pass-key" placeholder="Contraseña"
                  formControlName="clave" [type]="show ? 'text' : 'password'">
          <span class="show">
            <button type="button" (click)="password()">
              <!-- Se muestra solamente uno a la vez, no se renderizan ambos -->
              <img *ngIf="show" src="../../../assets/images/hide.png" alt="show">
              <img *ngIf="!show" src="../../../assets/images/lock.png" alt="show">
            </button>
          </span>
        </div>
        <div class="field field-btn">
          <!-- El boton permanece deshabilitado mientras el form es invalido -->
          <button type="submit" [disabled]="forma.invalid">Iniciar sesión</button>
        </div>
        <div class="pass">
          <a href="#">Olvidaste tu contraseña? Recuperar</a>
        </div>
      </form>

      <div class="signup">
        <a href="#">¿Aún no se registra? Iniciar</a>
      </div>
    </div>
</div>