<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- contenedor -->
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title">Crear Lotes</h4>
                    <p class="card-text">Puedes crear, editar y eliminar lotes.</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control round" id="iconLeft1" placeholder="Buscar">
                                <div class="form-control-position">
                                    <i class="bx bx-search"></i>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-8 text-right mt-2">
                            <div class="btn-group btn-group-lg mb-1 btn-group-subasta" role="group" aria-label="Size Large">
                                <a [routerLink]="['/dashboard/lotes']" type="button" class="btn btn-group-subasta-1" style="border-radius: 15px;">
                                    <i class="bx bxs-package"></i>
                                    Lotes                                       
                                </a>
                                <button type="button" class="btn active btn-group-subasta-2">
                                    <i class="bx bx-plus"></i>
                                    Crear Lote
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-content m-2">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <h5 *ngIf="nombre.value==''">Nombre Lote</h5>
                                    <h5>{{nombre.value}}</h5>
                                    <!-- <img v-bind:src="imgPreview" alt="" width="60%"> -->
                                    <input type="text" class="form-control" name="valor" [placeholder]="'$ '+valor.value" min="0.01" readonly />
                                </div>
                                <div class="col-md-6">
                                    
                                    

                                    <form autocomplete="off" class="form-body" [formGroup]="forma" (ngSubmit)="agregar()">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Subasta</label>
                                            </div>
                                            <div class="col-md-8 form-group">          
                                                <!-- <select @change="onChange($event)" name="tipo" id="tipo" class="form-control" v-model="subastaSeleccionado">
                                                        <option v-for="option in subastas" v-bind:key="option.idSubasta" v-bind:value="option.idSubasta">
                                                            {{ option.nombre }}
                                                        </option>
                                                </select> -->
                                                <select name="tipo" id="tipo" class="form-control" v-model="subastaSeleccionado">
                                                        <option v-for="option in subastas" v-bind:key="option.idSubasta" v-bind:value="option.idSubasta">
                                                            Subasta
                                                        </option>
                                                </select>
                                            </div>
                                            <!-- Nombre -->
                                            <div class="col-md-4">
                                                <label>Nombre</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <!-- <input v-model="nombre" type="text" id="nombre" class="form-control" name="nombre" placeholder="LOTE - producto"> -->
                                                <input type="text" #nombre (keyup)="0" class="form-control" formControlName="nombre">
                                            </div>
                                            <!-- Valor -->
                                            <div class="col-md-4">
                                                <label>Valor</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="number" #valor (keyup)="0" id="valor" class="form-control" name="valor" formControlName="valor">
                                            </div>
                                            <!-- Peso -->
                                            <div class="col-md-4">
                                                <label>Peso</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="text" id="peso" class="form-control" name="peso" formControlName="peso">
                                            </div>
                                            <!-- Medida -->
                                            <div class="col-md-4">
                                                <label>Medida</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <div class="input-group mb-3">
                                                    <input type="number" id="alto" class="form-control" name="medidaAlto" formControlName="medidaAlto" min="0.01">
                                                    <p class="px-2"></p>
                                                    <input type="number" id="ancho" class="form-control" name="medidaAncho" formControlName="medidaAncho">
                                                </div>
                                            </div>
                                            <!-- Descripcion -->
                                            <div class="col-md-4">
                                                <label>Descripcion</label>
                                            </div>
                                            <div class="col-md-8 form-group">            
                                                <textarea type="text" class="form-control" name="descripcion" formControlName="descripcion"></textarea>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-12 mt-2 d-flex justify-content-center">
                                                <button type="submit"
                                                        class="btn btn-secondary round mr-1 mb-1"
                                                        [disabled]="forma.invalid">
                                                        Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>

                            </div>
                        </div>--
                    </div>
                </div>
            </div>
        </section>
        <!-- contenedor end -->
    </div>
</div>