<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- contenedor -->
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title">Solicitudes</h4>
                    <p class="card-text">Puedes ver las solicitudes de los usuarios que se han inscrito a las subastas y validar su participación.</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control round" id="iconLeft1" placeholder="Buscar">
                                <div class="form-control-position">
                                    <i class="bx bx-search"></i>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-8 text-right text-white mt-2">
                            <!-- Solamente se renderizara uno de los div -->
                            <div *ngIf="verified">
                                <a type="button" (click)="mostrarVerificados(true)" class="btn btn-secondary btn-index round p-1 mr-1 mb-1">
                                    <div class="badge-circle badge-circle-sm badge-circle-success">
                                        <i class="bx bx-check font-size-base"></i>
                                    </div>
                                    <span>Verificados</span>
                                </a>
                                <a type="button" (click)="mostrarVerificados(false)" class="btn btn-outline-secondary btn-index round p-1 mr-1 mb-1">
                                    <div class="badge-circle badge-circle-sm badge-circle-light-secondary">
                                        <i class="bx bx-x"></i>
                                    </div>
                                    <span>Por verificar</span>
                                </a>
                            </div>
                            <div *ngIf="!verified">
                                <a type="button" (click)="mostrarVerificados(true)" class="btn btn-outline-secondary btn-index round p-1 mr-1 mb-1">
                                    <div class="badge-circle badge-circle-sm badge-circle-success">
                                        <i class="bx bx-check font-size-base"></i>
                                    </div>
                                    <span>Verificados</span>
                                </a>
                                <a type="button" (click)="mostrarVerificados(false)" class="btn btn-secondary btn-index round p-1 mr-1 mb-1">
                                    <div class="badge-circle badge-circle-sm badge-circle-light-secondary">
                                        <i class="bx bx-x"></i>
                                    </div>
                                    <span>Por verificar</span>
                                </a>
                            </div>
                            <!-- /Div botones principales -->
                        </div>
                    </div>
                </div>
                <!-- Mostrando usuarios verificados -->
                <div class="col-12" *ngIf="verified">
                    <div class="card">
                        <div class="card-content">
                            <!-- Table with no outer spacing -->
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nombre</th>
                                            <th>Municipio</th>
                                            <th>Departamento</th>
                                            <th>DUI</th>
                                            <th>NIT</th>
                                            <th width="5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="pointer-cursor" *ngIf="users.length==0">
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                <i class="fas fa-spinner fa-spin"></i> Cargando los datos
                                            </td>
                                        </tr>
                                        <tr class="pointer-cursor" *ngFor="let user of users">
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                <img class="rounded-circle mr-1" src="../../../../assets/app-assets/images/portrait/small/avatar-s-1.jpg" alt="card" width="32" height="32">
                                            </td>
                                            <td data-bs-toggle="modal" data-bs-target="#exampleModalCenter" (click)="getById( user.idUsuario )">{{ user.nombre }}</td>
                                            <td class="text-bold-500">{{ user.municipio }}</td>
                                            <td>{{ user.departamento }}</td>
                                            <td>{{ user.dui }}</td>
                                            <td>{{ user.nit }}</td>
                                            <td data-bs-toggle="modal" data-bs-target="#primary"><i data-toggle="tooltip" data-placement="bottom" (click)="getById(user.idUsuario)" title="" data-original-title="Eliminar" class="bx bx-trash font-medium-1 cursor-pointer"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mostrando usuarios no verificados -->
                <div class="col-12" *ngIf="!verified">
                    <div class="card">
                        <div class="card-content">
                            <!-- Table with no outer spacing -->
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nombre</th>
                                            <th>Municipio</th>
                                            <th>Departamento</th>
                                            <th>DUI</th>
                                            <th>NIT</th>
                                            <th width="5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="pointer-cursor" *ngIf="usersNo.length==0">
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                <i class="fas fa-spinner fa-spin"></i> Cargando los datos
                                            </td>
                                        </tr>
                                        <tr class="pointer-cursor" *ngFor="let user of usersNo">
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                <img class="rounded-circle mr-1" src="../../../../assets/app-assets/images/portrait/small/avatar-s-1.jpg" alt="card" width="32" height="32">
                                            </td>
                                            <td data-bs-toggle="modal" data-bs-target="#exampleModalCenter" (click)="getById( user.idUsuario )">{{ user.nombre }}</td>
                                            <td class="text-bold-500">{{ user.municipio }}</td>
                                            <td>{{ user.departamento }}</td>
                                            <td>{{ user.dui }}</td>
                                            <td>{{ user.nit }}</td>
                                            <!-- <td>
                                                <div class="custom-control custom-switch custom-control-inline mb-1">
                                                    <input type="checkbox" class="custom-control-input" checked [id]="user.idUsuario">
                                                    <label class="custom-control-label mr-1" [for]="user.idUsuario">
                                                    </label>
                                                </div>
                                            </td> -->
                                            <td data-bs-toggle="modal" data-bs-target="#primary" (click)="getById(user.idUsuario)"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Eliminar" class="bx bx-trash font-medium-1 cursor-pointer"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="!verified">
                    <div class="card">
                        <div class="card-content">
                            <!-- Table with no outer spacing -->
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nombre</th>
                                            <th>Municipio</th>
                                            <th>Departamento</th>
                                            <th>DUI</th>
                                            <th>NIT</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="pointer-cursor">
                                            <td class="text-bold-600 text-center" colspan="7">
                                                <img src="../../../../assets/app-assets/images/not-found.png" alt="card" width="250px">
                                                <h6>El usuario que buscas no se encuentra</h6>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contenedor end -->
        
        <!-- Modales -->
        <!-- Modal info user -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header text-right align-items-right">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="bx bx-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img class="rounded-circle mr-1" src="../../../assets/app-assets/images/portrait/small/avatar-s-1.jpg" alt="card" width="42" height="42">
                            </div>
                            <div class="col-md-10">
                                <h5><strong>{{ user.nombre }}</strong></h5>
                                <h6><strong>Dirección:</strong>{{ user.direccion }}</h6>
                                <h6><strong>Municipio:</strong>{{ user.municipio }}</h6>
                                <h6><strong>Departamento:</strong>{{ user.departamento }}</h6>
                            </div>
                        </div>
                        <hr class="hr-line">
                        <div class="row">
                            <div class="col-md-6">
                                <h6><strong>DUI:</strong>{{ user.dui }}</h6>
                                <h6><strong>Teléfono:</strong>{{ user.telefono }}</h6>
                            </div>
                            <div class="col-md-6">
                                <h6><strong>NIT:</strong>{{ user.nit }}</h6>
                                <h6><strong>Teléfono:</strong>{{ user.telefono }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center align-items-center">
                        <button type="button" class="btn btn-secondary round ml-1" data-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Validar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Modal para eliminar (no hay metodo delete, ya esta semi-funcional) -->
        <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="bx bx-x"></i>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h4><strong>¿Esta seguro que quieres eliminar la inscripción?</strong></h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal"
                                (click)="deleteUser(user.idUsuario);">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Eliminar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Modales -->
    </div>
</div>