<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- contenedor -->
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title">Mantenimiento de usuario</h4>
                    <p class="card-text">Puedes crear, editar y eliminar usuarios.</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control round" id="iconLeft1" placeholder="Buscar">
                                <div class="form-control-position">
                                    <i class="bx bx-search"></i>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-8 text-right mt-2">
                            <button type="button" data-toggle="modal" data-target="#dark" class="btn btn-outline-secondary btn-index round p-1 mr-1 mb-1">
                                <div class="badge-circle badge-circle-sm">
                                    <i class="bx bx-plus font-size-base"></i>
                                </div>
                                <span>Agregar Usuario</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <!-- Table with no outer spacing -->
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nombre</th>
                                            <th>Municipio</th>
                                            <th>Departamento</th>
                                            <th>DUI</th>
                                            <th>NIT</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                <img class="rounded-circle mr-1" src="../../../../assets/app-assets/images/portrait/small/avatar-s-1.jpg" alt="card" width="32" height="32">
                                            </td>
                                            <td>Jose Hernandez</td>
                                            <td class="text-bold-500">Mejicanos</td>
                                            <td>San Salvador</td>
                                            <td>05383752-2</td>
                                            <td>0523423383752-2</td>
                                            <td class="text-right"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Editar" class="bx bx-edit font-medium-1 cursor-pointer"></i></td>
                                            <td><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Eliminar" class="bx bx-trash font-medium-1 cursor-pointer"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                <img class="rounded-circle mr-1" src="../../../../assets/app-assets/images/portrait/small/avatar-s-1.jpg" alt="card" width="32" height="32">
                                            </td>
                                            <td>Jose Hernandez</td>
                                            <td class="text-bold-500">Mejicanos</td>
                                            <td>San Salvador</td>
                                            <td>05383752-2</td>
                                            <td>05234383752-2</td>
                                            <td class="text-right"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Editar" class="bx bx-edit font-medium-1 cursor-pointer"></i></td>
                                            <td><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Eliminar" class="bx bx-trash font-medium-1 cursor-pointer"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-600 pr-0 sorting_1">
                                                <img class="rounded-circle mr-1" src="../../../../assets/app-assets/images/portrait/small/avatar-s-1.jpg" alt="card" width="32" height="32">
                                            </td>
                                            <td>Jose Hernandez</td>
                                            <td class="text-bold-500">Mejicanos</td>
                                            <td>San Salvador</td>
                                            <td>05383752-2</td>
                                            <td>053233483752-2</td>
                                            <td class="text-right"><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Editar" class="bx bx-edit font-medium-1 cursor-pointer"></i></td>
                                            <td><i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Eliminar" class="bx bx-trash font-medium-1 cursor-pointer"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contenedor end -->
    </div>
</div>